{% extends 'main/base.html' %}

{% block title %}View List{% endblock %}

{% block content %}
	<h2>{{ls.name}}</h2>
	<form method="post", action="#">
		{% csrf_token %}

		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="add", value="add", type="submit", class="btn btn-success">Add New</button>
	  		</div>
	  		<input type="text" name="new" value="" class="form-control">
	  		
		</div>
		<br>
		<button name="save", value="save", type="submit", class="btn btn-success">Save</button>
	</form>
{% endblock %}